#buscadorFiltro{
    display: flex;
    flex-direction: row;
    border-color: blue;
    border-width: 1px;
    /* border-style: solid; */
    width: 300px;
    margin-left: 20px;
}

#filtro{
    width: 250px;
    margin: 10px;
}

#SelectorFiltro{
    /* border-color: blue; */
    border-width: 1px;
    /* border-style: solid; */
    width: 300px;
    margin-left: 20px;
}

#Formulario{
    display: flex;
    justify-content: center;
}

button{
    margin-bottom: 10px;
}

#selector{
    margin: 10px;
}